@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: android;
    src: url(../pacote-projeto-d010/fontes/idroid.otf);
}

:root{
    --cor01:#c5ebd6;
    --cor02:#83e1ad;
    --cor03:#3ddc84;
    --cor04:#2fa866;
    --cor05:#1a5c37;
    --cor06:#063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque:"Bebas Neue", sans-serif;
    --fonte-android: "android", sans-serif
  }

*{
    margin: 0px;
    padding: 0px;
  }

body{
    margin: 1px;
    background-color: var(--cor01);
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor06));
    margin: 0px;
    min-height: 150px;
    padding-top: 40px;
}

header > h1{
    font-weight: normal;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

nav{
    background-color: var(--cor06);
    padding: 10px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.331);
    text-align: left;
    font-weight: bold;
}

nav > a{
    color: var(--cor01);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor03);
    color: var(--cor05);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.video{
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor04);
}

main strong{
    color: var(--cor04);
    font-weight: bold;
    
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;   
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main > article > h1{
    color: #195A36;
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor04);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
    font-weight: normal;
}

aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.337);
}
aside > h3{
    background-color: var(--cor04);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-weight: normal;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor06);
    color: white ;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor01);
}