@charset "UTF-8";
*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #AEE4FF, #FFD27F);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

h1{
color: #FFA552;
text-align: center;
text-shadow: 1px 4px 4px black;;
}

h2{
color: #8FBF88;
}

p{
    text-align: justify;
}